
@font-face {
  font-family: "BHARTIYA HINDI_100";
  src: url("/fonts/A0047636.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AMS Aasmi";
  src: url("/fonts/AMS Aasmi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arenski";
  src: url("/fonts/ARENSKI.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url("/fonts/arial.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "A-SuperHindi-3 Bold";
  src: url("/fonts/ASUPER_1.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "A-SuperHindi-8 Normal";
  src: url("/fonts/asuper_8.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BHARTIYA HINDI_089";
  src: url("/fonts/bf089hin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BHARTIYA HINDI_112";
  src: url("/fonts/bf112hin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BHARTIYA HINDI_142";
  src: url("/fonts/bf142hin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITC Bookman Demi Italic";
  src: url("/fonts/bokr76w.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ISFOC-TTBorder-1 Normal";
  src: url("/fonts/BR010NTT.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DFCalligraphicOrnament";
  src: url("/fonts/DF Calligraphic Ornament Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Embassy BT";
  src: url("/fonts/EMBASSYN.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kruti Dev 010";
  src: url("/fonts/K010.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kruti Dev 012";
  src: url("/fonts/K012.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kruti Dev 021";
  src: url("/fonts/K021.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kruti Dev 011";
  src: url("/fonts/K11.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kruti Dev 240";
  src: url("/fonts/K240.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kruti Dev 500";
  src: url("/fonts/K500.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kruti Dev 501";
  src: url("/fonts/K501.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kruti Dev 502";
  src: url("/fonts/K502.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kruti Dev 640";
  src: url("/fonts/KR640.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kruti Dev 680";
  src: url("/fonts/KR680.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kruti Dev 710";
  src: url("/fonts/KR710.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kruti Dev 712";
  src: url("/fonts/KR712.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kruti Dev 714";
  src: url("/fonts/KR714.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kruti Dev 732";
  src: url("/fonts/KR732.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Martel Bold";
  src: url("/fonts/Martel-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Martel";
  src: url("/fonts/Martel-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monotype Corsiva Regular Italic";
  src: url("/fonts/Monotype-Corsiva-Regular-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans Devanagari Regular";
  src: url("/fonts/NotoSansDevanagari.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rozha One Regular";
  src: url("/fonts/RozhaOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Teko Bold";
  src: url("/fonts/Teko-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Teko Medium";
  src: url("/fonts/Teko-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Teko Regular";
  src: url("/fonts/Teko-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
