
@font-face {
  font-family: "Abbasi 728";
  src: url("/fonts/73.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Abbasi A03";
  src: url("/fonts/ABBAA.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Abbasi A18";
  src: url("/fonts/ABBAAM.TTF") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Abbasi Avanti";
  src: url("/fonts/ABBAA_0.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Abbasi Himalaya";
  src: url("/fonts/Abbasi-Himalaya.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Abbasi Dewani";
  src: url("/fonts/ABBASI_FREEHINDIDESIGN (23).TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Abbasi 715";
  src: url("/fonts/ABBASI_FREEHINDIDESIGN (45).TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Abbasi Raman";
  src: url("/fonts/ABBASI_FREEHINDIDESIGN (57).TTF") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Abbasi Bilal";
  src: url("/fonts/ABBASI_FREEHINDIDESIGN (66).TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Abbasi Chirayu";
  src: url("/fonts/ABBASI_FREEHINDIDESIGN (81).TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AMS Aasmi";
  src: url("/fonts/AMS Aasmi.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url("/fonts/arial.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url("/fonts/arialbd.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kruti Dev 090 Wide";
  src: url("/fonts/KRDEV095.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kruti Dev 010";
  src: url("/fonts/kruti-dev-010-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mangal";
  src: url("/fonts/mangal-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MINNO-GOPI-24";
  src: url("/fonts/MINNO-GOPI-24.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poplar Std";
  src: url("/fonts/PoplarStd.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RAJ 09";
  src: url("/fonts/RAJ 09.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RAJ 102";
  src: url("/fonts/RAJ 102B.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RAJ 107";
  src: url("/fonts/RAJ 107.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RAJ 121";
  src: url("/fonts/RAJ 121B.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RAJ 14";
  src: url("/fonts/RAJ 14.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RAJ 21";
  src: url("/fonts/RAJ 21.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RAJ 42";
  src: url("/fonts/RAJ 42.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RAJ 57";
  src: url("/fonts/RAJ 57.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RAJ 58";
  src: url("/fonts/RAJ 58-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RAJ 66";
  src: url("/fonts/RAJ 66.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RAJ 67";
  src: url("/fonts/RAJ 67.TTF") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RAJ 69";
  src: url("/fonts/RAJ 69.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RAJ 79";
  src: url("/fonts/RAJ 79.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RAJ 94";
  src: url("/fonts/RAJ 94B.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RAJ 95";
  src: url("/fonts/RAJ 95B.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RAJ ANANDA";
  src: url("/fonts/RAJ ANANDA.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RAJ ASHOK";
  src: url("/fonts/RAJ ASHOK.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RAJ PRAKASH";
  src: url("/fonts/RAJ PRAKASH_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
