
@font-face {
  font-family: "AMS Aasmi";
  src: url("/fonts/AMS Aasmi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kruti Dev 640";
  src: url("/fonts/KR640.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
